.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f5f5f5;
    font-family: "Open Sans", sans-serif;
    color: #121212;
    font-size: 16px;
    line-height: 25.888px;
}

.undangan-wrapper {
    width: 640px;
    max-width: 640px;
}

.cover {
    position: relative;
    z-index: -1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
}

.hiasan-cover {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: -5%;
    width: 100%;
    height: 200px;
    background-image: url("../images/hiasan-cover.svg");
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.save-the-date {
    position: absolute;
    width: 100%;
    margin-top: auto;
}

.waktu-tempat {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0px;
    padding-bottom: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
}

.info-undangan {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.text-grey {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: "Open Sans", sans-serif;
    color: #4b6577;
    text-align: center;
}

.text-grey._14 {
    color: #afb1b3;
    font-size: 14px;
    text-align: center;
}

.text-grey._12 {
    color: #4b6577;
    font-size: 14px;
    line-height: 22.652px;
}

.text-grey.top8 {
    margin-top: 8px;
}

.text-grey.top32 {
    margin-top: 32px;
}

.text-grey.top24 {
    margin-top: 24px;
}

.name {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Euphoria Script", sans-serif;
    color: #4b6577;
    font-size: 37px;
    line-height: 59.86600000000001px;
    text-align: center;
}

.undangan {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 40px 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
}

.p {
    color: #121212;
}

.p.top16 {
    margin-top: 16px;
    font-weight: 300;
    text-align: center;
}

.h3 {
    font-family: "Open Sans", sans-serif;
}

.h3.m24 {
    margin-top: 24px;
    margin-bottom: 24px;
    color: #4b6577;
    font-size: 22px;
    line-height: 35.596000000000004px;
    font-weight: 600;
}

.wrapper-akad {
    width: 340px;
    padding: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: #4b6577;
    border-radius: 16px;
}

.heading {
    margin-top: 0px;
    margin-bottom: 10px;
}

.h4 {
    color: #4b6577;
    font-weight: 600;
    text-align: center;
}

.h4.border-bottom {
    margin-top: 0px;
    padding-bottom: 10px;
    border-top: 0px none rgba(75, 101, 119, 0.4);
    border-bottom: 1px solid rgba(75, 101, 119, 0.4);
}

.h4.border-bottom.bottom-16 {
    margin-bottom: 16px;
}

.wrapper-resepsi {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 340px;
    margin-top: 24px;
    padding: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: #4b6577;
    border-radius: 16px;
}

.galeri::before {
    content: "";
    width: 100%;
    height: 180px;
    background-image: url("../images/hiasan-galeri.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.galeri {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0px;
    margin-top: -150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
}

.album {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 0px;
    padding-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#bdd1e0),
        to(#fff)
    );
    background-image: linear-gradient(180deg, #bdd1e0, #fff);
}

.grid {
    width: 460px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.image {
    width: 100%;
}

.lokasi {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 40px;
    padding-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #bdd1e0;
}

.alamat {
    width: 460px;
    margin-bottom: 20px;
    color: #4b6577;
    text-align: center;
}

.map {
    width: 460px;
}

.comment {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 10px 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
}

.wrapper-ucapan {
    width: 460px;
    padding: 16px;
    background-color: hsla(0, 0%, 74.5%, 0.2);
}

.footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #bdd1e0;
}

.text-black {
    padding-top: 4px;
    padding-bottom: 4px;
    color: #121212;
}

.akanikah {
    height: auto;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 4px;
    background-color: #fff;
    color: #ff3a6e;
}

@media screen and (max-width: 767px) {
    .galeri {
        margin-top: 0px;
    }
}

@media screen and (max-width: 479px) {
    .body {
        background-color: #fff;
    }

    .undangan-wrapper {
        width: 100%;
    }

    .hiasan-cover {
        bottom: -86px;
    }

    .name {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .undangan {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    .p.top16 {
        font-size: 14px;
    }

    .wrapper-akad {
        width: 100%;
    }

    .wrapper-resepsi {
        width: 100%;
    }

    .galeri {
        background-color: transparent;
    }

    .hiasan-galeri {
        top: 0%;
        height: 200px;
        background-color: transparent;
        background-image: url("../images/hiasan-cover.svg");
        background-position: 50% 0%;
        background-size: 100%;
    }

    .album {
        padding-right: 10px;
        padding-left: 10px;
    }

    .grid {
        width: 100%;
    }

    .lokasi {
        padding: 24px 10px;
    }

    .alamat {
        width: 100%;
    }

    .map {
        width: 100%;
        height: 360px;
    }

    .wrapper-comment {
        width: 100%;
        padding: 10px;
    }

    .wrapper-ucapan {
        width: 100%;
        padding: 10px;
    }
}

.wrapper-comment {
    width: 460px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
}

.comentator {
    color: #2b2916;
    font-weight: 600;
}

.comment {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 10px 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ece2e2;
    color: #250902;
}

.item-comment {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-bottom: 1px solid #afb1b3;
}

.form-ucapan {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.p-comment {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0px none #afb1b3;
    color: #121212;
}

.wrapper-ucapan {
    width: 460px;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
}

@media screen and (max-width: 479px) {
    .wrapper-ucapan {
        width: 100%;
    }
    .wrapper-comment {
        width: 100%;
    }
}
